$color_1: #333;
$color_2: black;
$color_3: #fff;
$color_4: #ffffff;
$color_5: #888;
$font-family_1: Arial, sans-serif;
$background-color_1: #f0f0f0;
$background-color_2: #ffffff;
$background-color_3: lightgrey;
$background-color_4: #007bff;
$background-color_5: #fff;
$background-color_6: #f5f5f5;
$background-color_7: #888;
$background-color_8: #0056b3;
$background-color_9: white;
$background-color_10: #eee;

/* App.css */
/* Global styles for the entire app */
/* Styles for the chat container */
/* Styles for the chat history */
/* Styles for the chat input */
/* App.css */
/* ... previous styles ... */
/* Styles for the message timestamps */
/* Styles for the message content */
/* Styles for user and bot messages */
body {
  background-color: $background-color_1;
  font-family: $font-family_1;
}

.App {
  text-align: center;
  padding: 20px;
  max-height: 100%;
}

img {
  display: flex;
  height: 50px;
}

h1 {
  color: $color_1;
}

.tabs {
  text-align: left;
  padding: 50px;
  padding-bottom: 0px;
  background-color: $background-color_2;
}

.tab-content {
  width: 100%;
  height: 100vh;
}

.non-active {
  height: 44px;
  width: 25%;
  background-color: $background-color_3;
  border-radius: 25px 25px 5px 5px;
  color: $color_2;
}

.active {
  height: 44px;
  width: 25%;
  background-color: $background-color_4;
  border-radius: 25px 25px 5px 5px;
}

.chat-container {
  max-width: 100%;
  height: 50vh;
  margin: 0 auto;
  background-color: $background-color_5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: left;
}

.chat-history {
  background-color: $background-color_6;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  overflow-y: auto;
  max-height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.message-text {
  font-size: 14px;
}

.chat-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.submit-button {
  background-color: $background-color_4;
}

button {
  background-color: $background-color_7;
  color: $color_3;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 2px;

  &:hover {
    background-color: $background-color_8;
    color: $color_4;
  }
}

.message-timestamp {
  font-size: 12px;
  color: $color_5;
  margin-left: 10px;
}

.message-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message.user {
  background-color: $background-color_9;
  color: $color_2;
  align-self: flex-end;
}

.message.bot {
  background-color: $background-color_10;
  color: $color_1;
  align-self: flex-start;
}