$primary: #2B50BA;
$secondary1: #ffffff;
$secondary2: #e6f4ff;
$secondary3: #1C357E;
$neutral1: #525252;
$neutral2: #EDF2F4;
$neutral3: #FFFFFF;
$background: #DEE0E6;
$textHeading: #007AC0;
$textHeading2: #0000C9;
$textGray1: #1D1D1D;
$textGray2: #505050;
$textLightGray1: #E2E2E2;
