@import "./styles/variables.scss";

.root-container {
    font-family: sans-serif;
    background-color: $background;
    .main-container {
        width: 100%;
        max-width: 1440px;
        background-color: white;
    }
    .content-container {
        margin-left: auto;
        overflow: auto;
    }
}